<div class="home_wrapper">
	<h1>Welcome to Blackjack!</h1>
	<img src="/Images/blackjack_nobg.png"/>
	<!-- <h1 class="title">Blackjack</h1>
	 -->
	<span class="subtitle">
		<form name="homepage_form" action="/" method="post">
			<p>Starting Balance: $1000</p>
			<label for="initial_bet">Starting Bet: $</label>
			<input type="text" name="initial_bet" id="initial_bet" 	size="5" value="100"/>
			<button formmethod="post">Play!</button>
		</form>
	</span>
</div>