<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>BlackJack</title>
	</head>
	<body>
		<div><h1>Welcome to Blackjack!</h1></div>
		<form name="homepage_form" action="/" method="post">
			<label for="initial_bet">Starting Bet: $</label>
			<input type="text" name="initial_bet" id="initial_bet" size="5" value="100"/>
			<button formmethod="post">Play!</button>
		</form>
	</body>	
</html>