<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> Blackjack </title>
		<link rel="stylesheet" href="stylesheet.css">
		<link href="http://fonts.googleapis.com/css?family=Abel:300,400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
	</head>
	<body>
 
		<%= yield %>

	</body>


</html>